.tml-profile {
	max-width: 100%;
}

.tml-profile .tml-form-table {
	border-collapse: collapse;
}

.tml-profile .tml-form-table th,
.tml-profile .tml-form-table td {
	display: block;
	vertical-align: middle;
	width: auto;
}

.tml-profile .screen-reader-text,
.tml-profile .screen-reader-text span {
	height: 1px;
	left: -1000em;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

.tml-profile .wp-pwd {
	text-align: right;
}

.tml-profile .wp-pwd .dashicons {
	font-size: 1em;
	line-height: 1;
	height: 1em;
	width: 1em;
	vertical-align: middle;
}

.tml-profile #pass-strength-result {
	margin: 0.5em 0;
}

.hidden,
.no-js .hide-if-no-js,
.js .hide-if-js {
	display: none;
}

@media screen and (min-width: 768px) {
	.tml-profile .tml-submit-wrap input {
		width: auto;
	}
}
