.tml-extensions-wrap {
	margin: 0 -15px;

	&:after {
		content: "";
		clear: both;
		display: table;
	}

	* {
		box-sizing: border-box;
	}
}

.tml-extension {
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	float: left;
	margin: 15px;
	max-width: 350px;

	@media (min-width: 576px) {
		width: 40%;
	}

	@media (min-width: 783px) {
		width: 30%;
	}
}

.tml-extension-image {
	height: auto;
	max-width: 100%;
}

.tml-extension-body {
	padding: 15px;

	p {
		min-height: 5em;
	}
}

.tml-extension-title {
	margin: 0 0 15px;
	padding: 0;
}

.tml-extension-button {
	background-color: #8d50c3;
	color: #fff;
	display: block;
	font-size: 1.1em;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

.tml-extension-button:hover {
	color: #fff;
	background-color: #7a3cb0;
}

.tml-extension-button:active,
.tml-extension-button:focus {
	box-shadow: 0 0 0 0.2em rgba(141, 80, 195, 0.5);
	color: #fff;
}

.tml-view-all-extensions-wrap {
	padding: 15px 0;
	text-align: center;
}

.tml-view-all-extensions-link {
	display: inline-block;
	font-size: 1.5em;
	text-decoration: none;
}
