.tml-errors,
.tml-messages {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tml-error,
.tml-message,
.tml-success,
.tml-action-confirmaction .success {
	border-left: 4px solid #00a0d2;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
	display: block;
	margin: 0 0 1em;
	padding: 0.75em;
}

.tml-error {
	border-left-color: #dc3232;
}

.tml-success,
.tml-action-confirmaction .success {
	border-left-color: #46b450;
}
