#pass-strength-result {
	background-color: #eee;
	border: 1px solid #ddd;
	color: #23282d;
	font-weight: bold;
	opacity: 0;
	margin-bottom: 1em;
	padding: 0.5em;

	&.strong {
		background-color: #c1e1b9;
		border-color: #83c373;
		opacity: 1;
	}

	&.good {
		background-color: #ffe399;
		border-color: #ffc733;
		opacity: 1;
	}

	&.bad {
		background-color: #fbc5a9;
		border-color: #f78b53;
		opacity: 1;
	}

	&.short {
		background-color: #f1adad;
		border-color: #e35b5b;
		opacity: 1;
	}
}
