.tml {
	.tml-errors,
	.tml-messages {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.tml-error,
	.tml-message,
	.tml-success,
	.tml-action-confirmaction .success {
		background: #fff;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-left-width: 4px;
		border-left-color: #c3c4c7;
		box-shadow: none;
		display: block;
		margin: 0 0 1em;
		padding: 0.75em;
	}

	.tml-message {
		border-color: rgba(56, 88, 233, 0.3);
		border-left-color: #3858e9;
	}

	.tml-error {
		border-color: rgba(204, 24, 24, 0.3);
		border-left-color: #cc1818;
		background-color: #fcf0f0;
	}

	.tml-success,
	.tml-action-confirmaction .success {
		border-color: rgba(74, 184, 102, 0.3);
		border-left-color: #4ab866;
		background-color: #eff9f1;
	}
}
