.tml-pwd {
	position: relative;

	.tml-field {
		padding-right: 2.5em;
	}
}

.tml-toggle-pwd {
	background: none;
	border: 0;
	cursor: pointer;
	padding: 0.5em;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);

	.dashicons {
		color: #787c82;
	}

	&:focus {
		box-shadow: 0 0 0 1px #3c434a;
		outline: 2px solid transparent;
	}
}
