.tml {
	font-size: 1em;

	* {
		box-sizing: border-box;
	}

	.tml-field-wrap {
		margin-bottom: 1em;

		&:has(.tml-checkbox) {
			align-items: center;
			display: flex;
			gap: 0.5em;
		}
	}

	.tml-label {
		display: block;
		margin: 0.5em 0;
	}

	.tml-checkbox {
		vertical-align: middle;

		+ .tml-label {
			display: inline;
		}
	}

	.tml-field {
		width: 100%;
	}

	.tml-description {
		display: block;
		font-size: 0.85em;
		font-style: italic;
		margin: 0.5em 0;
	}
}

:where(.tml .tml-field) {
	background-color: #fff;
	border: 1px solid #8c8f94;
	border-radius: 4px;
	color: #2c3338;
	padding: 0.75em 1em;
}

:where(.tml .tml-field:focus) {
	border-color: #3c434a;
	box-shadow: 0 0 0 1px #3c434a;
	outline: 2px solid transparent;
}

:where(.tml .tml-button) {
	background-color: #f6f7f7;
	border: 1px solid #8c8f94;
	border-radius: 4px;
	color: #2c3338;
	cursor: pointer;
	padding: 0.75em 1.5em;
}

:where(.tml .tml-button:hover) {
	background-color: #f0f0f1;
	border-color: #6c7079;
}

:where(.tml .tml-button:focus) {
	border-color: #3c434a;
	box-shadow: 0 0 0 1px #3c434a;
	outline: 2px solid transparent;
}
